<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>English</string>
  <key>CFBundleExecutable</key><string>time-tracker</string>
  <key>CFBundleIconFile</key><string>time-tracker.icns</string>
  <key>CFBundleIdentifier</key><string>uno.glob.timetracker</string>
  <key>CFBundleDisplayName</key><string>time-tracker</string>
  <key>CFBundleInfoDictionaryVersion</key><string>1.0</string>
  <key>CFBundleName</key><string>time-tracker</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>1.0</string>
  <key>CFBundleSignature</key><string>????</string>
  <key>CFBundleVersion</key><string>1</string>
</dict>
</plist>
